
div{
    h2{
        background-color: black;
        color: white;
        font-size: 14px;
        padding-top: 10px;
        padding-left: 16px;
    }
    .container{
        padding: 20px;
       align-items: center;
       width: 100%;
       overflow-x: scroll;
       display: flex;
       background-color: black;
       
       .card{
       min-width: 220px;
       height: 350px;
       border: 1px solid black;
       margin-bottom: 20px;
        position: relative;
        
         &:hover{
          .info{
              display: block;
          }
       }
    
       .img{
           width: 100%;
           height: 100%;
           img{
               width: 100%;
               height: 100%;
           }
       }
    }
    .info{
       position: absolute;
       top: 0;
       left: 0;
       padding-top: 20px;
       padding-left: 5px;
       height: 350px;
       font-size: 11px;
       color: white;
       background-color: black;
       width: 100%;
       display: none;
      
       p{
           padding-bottom: 5px;
       }
    }
    .flags{
       display: flex;
       .img-flag{
           width: 30px;
           height: 30px;
           img{
               width: 100%;
           }
       }
    }
    .fa-star{
       color: yellow;
    }
    }
}